<div class="col-6 col-lg-4">
  <div class="card m-2">
    <div class="card-img-top position-relative d-flex text-center align-middle" style="height:200px;">[No image]</div>
    <div class="card-body">
      <h5 class="card-title w-100 text-center text-dark fw-bold">[Species Name]</h5>
      <div class="card-title w-100 text-center text-muted h6">[Identifier Name]</div>
      <div class="card-title w-100 text-center text-muted h6"><%= o.observed_at.strftime '%Y-%m-%d %H:%M' %></div>
    </div>
    <div class="card-img-overlay h-100 d-flex flex-column justify-content-end card-overlay-opacity">
      <a href="" class="w-100 h-100"></a>
    </div>
  </div>
</div> 