<div class="row justify-content-center mt-5">
  <div class="col-10">
    <div class="row my-3">
      <div class="col">
      	<div class="row">
      	  <div class="col h4 text-center proxima section-header mb-3">Recent Sightings</div>
      	</div>	
      	<div class="row">
    		  <% observations.each.with_index(1) do |o,i| %>
    		    <%= render partial: 'observation', locals: { o: o, i: i } %>
        	<% end %>
        </div>
      </div>      
    </div>
  </div>
</div> 