<div class="row">
  <div class="col p-3">
    <div class="border border-4 border-dark rounded-3 text-center bg-dark text-white h6 fs-italic p-2"><%= object.get_nobservations %><br/>Observations</div> 
  </div>
  <div class="col p-3">
    <div class="border border-4 border-dark rounded-3 text-center bg-dark text-white h6 fs-italic p-2"><%= object.get_nidentifications %><br/>Identifications</div> 
  </div>
  <div class="col p-3">
    <div class="border border-4 border-dark rounded-3 text-center bg-dark text-white h6 fs-italic p-2"><%= object.get_nspecies %><br/>Species</div> 
  </div>
  <div class="col p-3">
    <div class="border border-4 border-dark rounded-3 text-center bg-dark text-white h6 fs-italic p-2"><%= object.get_nparticipants %><br/>Participants</div> 
  </div>
</div>