<div class="row">
  <div class="col p-3">
    <div class="border border-4 border-dark rounded-3 text-center bg-dark text-white h6 fs-italic p-2"><%= object.observations.count %><br/>Sightings</div> 
  </div>
  <div class="col p-3">
    <div class="border border-4 border-dark rounded-3 text-center bg-dark text-white h6 fs-italic p-2"><%= object.identifications_count %><br/>Identifications</div> 
  </div>
  <div class="col p-3">
    <div class="border border-4 border-dark rounded-3 text-center bg-dark text-white h6 fs-italic p-2"><%= object.species_count %><br/>Species</div> 
  </div>
  <div class="col p-3">
    <div class="border border-4 border-dark rounded-3 text-center bg-dark text-white h6 fs-italic p-2"><%= object.participants_count %><br/>Participants</div> 
  </div>
</div>