
<div class="row justify-content-center">
  <div class="col-12 col-lg-10 d-flex justify-content-center h2 fw-bold">
    <%= @contest.title %>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-12 col-lg-6 d-flex justify-content-center h6">
    <%= @contest.description %>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-10">
    <div class="row my-3">
      <div class="col" id="map" style="width:100%; height:400px;">
        <script>
          (function() {
            const s = { lat: 35.6804, lng : 139.7690 };
            const map = new google.maps.Map(document.getElementById("map"), { zoom: 5, center: s, controlSize: 20 });
            const marker = new google.maps.Marker({ position: s, map: map });
          })();
        </script>
      </div>  
    </div>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-10">
    <div class="row my-3">
      <div class="col">
      	<div class="row mb-3">
      	  <h1>Regions Leaderboard</h1>
      	</div>	
      	<div class="row">
      	  <div class="col">
    		    <% @contest.regions.each.with_index(1) do |r,i| %>
    		      <%= render partial: 'region', locals: { r: r, i: i } %>
        		<% end %>
          </div>
      	</div>
      </div>      
    </div>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-10">
    <div class="row my-3">
      <div class="col">
      	<div class="row mb-3">
      	  <h1>Recent Sightings</h1>
      	</div>	
      	<div class="row">
      	  <div class="col">
    		    <% @contest.observations.each.with_index(1) do |o,i| %>
    		      <%= render partial: 'observation', locals: { o: o, i: i } %>
        		<% end %>
          </div>
      	</div>
      </div>      
    </div>
  </div>
</div> 

