<!--div class="row justify-content-center">
  <div class="col-10">
    <div class="row my-3">
      <div class="col" id="map" style="width:100%; height:400px;">
        <script>
          (function() {
            const s = { lat: 35.6804, lng : 139.7690 };
            const map = new google.maps.Map(document.getElementById("map"), { zoom: 5, center: s, controlSize: 20 });
            const marker = new google.maps.Marker({ position: s, map: map });
          })();
        </script>
      </div>  
    </div>
  </div>
</div-->

<div class="row justify-content-center mb-5">
  <div class="col-10">
    <div class="row my-5 justify-content-center">
      <div class="col-6 col-md-4">
        <img class="img-fluid" src="<%= image_path 'logo.png' %>">
      </div>      
    </div>
  </div>
</div> 

<div class="row justify-content-center">
  <div class="col-10">
    <div class="row my-3">
      <div class="col">
      	<div class="row">
      	  <div class="col h4 text-center proxima section-header mb-3">Regions Leaderboard</div>
      	</div>	
      	<div class="row">
      	  <div class="col mt-5">
    		    <% Region.first(5).each.with_index(1) do |r,i| %>
    		      <%= render partial: 'region', locals: { r: r, i: i } %>
        		<% end %>
          </div>		
      	</div>
      </div>      
    </div>
  </div>
</div> 

<div class="row justify-content-center">
  <div class="col-10">
    <div class="row my-3">
      <div class="col">
      	<div class="row mb-3">
      	  <div class="col h4 text-center proxima section-header mb-3">Upcoming Contests</div>
      	</div>	
      	<div class="row">
      	  <div class="col">
    		    <% Contest.upcoming.ordered_by_starts_at.first(5).each.with_index(1) do |c,i| %>
     			    <%= render partial: 'contest', locals: { c: c, i: i } %>
        		<% end %>
          </div>		
      	</div>
      </div>      
    </div>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-10">
    <div class="row my-3">
      <div class="col">
      	<div class="row mb-3">
      	  <div class="col h4 text-center proxima section-header mb-3">Completed Contests</div>
      	</div>	
      	<div class="row">
      	  <div class="col">
    		    <% Contest.past.ordered_by_starts_at.first(5).each.with_index(1) do |c,i| %>
     			    <%= render partial: 'contest', locals: { c: c, i: i } %>
        		<% end %>
          </div>		
      	</div>
      </div>      
    </div>
  </div>
</div>
